@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --background: #f8f8f8;
  --text: #313131;
}

.theme-dark {
  --background: #313131;
  --text: #f8f8f8;
}

hr {
  @apply border-gray-300 ;
}

.skill-text {
  @apply mb-1;
}

.box {
  @apply  uppercase p-4 text-gray-600 text-sm;
}

.box div, .box h3 {
  @apply text-gray-600 text-sm;
}

.cv h2 {
  @apply mt-12 mb-6;
}


h1 {
  @apply text-gray-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center;
}

h2 {
  @apply mt-4 text-3xl sm:text-4xl text-gray-900 font-extrabold tracking-tight;
}

h3 {
  @apply mb-4 text-xl text-gray-900 tracking-tight font-bold;
}

.cloud {
  z-index: 100;
  max-height: 768px;
  animation: animate 60s linear infinite;
}

@keyframes animate {
  0%
  {
   background-position: 0px;
  }
  100%
  {
   background-position: 5440px;
  }
}
