@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-light {
  --background: #f8f8f8;
  --text: #313131;
}

.theme-dark {
  --background: #313131;
  --text: #f8f8f8;
}

hr {
  @apply border-gray-300 ;
}

.skill-text {
  @apply mb-1;
}

.box {
  @apply  uppercase p-4 text-gray-600 text-sm;
}

.box div, .box h3 {
  @apply text-gray-600 text-sm;
}

.cv h2 {
  @apply mt-12 mb-6;
}


h1 {
  @apply text-gray-900 font-extrabold text-4xl sm:text-5xl lg:text-6xl tracking-tight text-center;
}

h2 {
  @apply mt-4 text-3xl sm:text-4xl text-gray-900 font-extrabold tracking-tight;
}

h3 {
  @apply mb-4 text-xl text-gray-900 tracking-tight font-bold;
}

h4 {
  @apply mb-4 text-lg text-gray-900 tracking-tight font-bold;
}
h5 {
  @apply mb-4 text-base text-gray-900 tracking-tight font-bold;
}

.cloud {
  z-index: 100;
  max-height: 768px;
  animation: animate 60s linear infinite;
}

@keyframes animate {
  0%
  {
   background-position: 0px;
  }
  100%
  {
   background-position: 5440px;
  }
}

.markdown > ul > li{
  //list-style-type: circle;
  @apply mb-1;

  list-style-position: inside;
}

.markdown > img {
  @apply ml-2 mb-2;
}


.neu {
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background: #ffffff;
  -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
  box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
}

.markdown > h1 {
  @apply mb-6;
}

.markdown > h2 {
  @apply mt-12 mb-6 my-2;
}

.markdown > h3 {
  @apply font-extrabold uppercase py-4 text-gray-600 text-sm my-2;
}

.markdown > h4 {
  @apply font-light uppercase py-1 text-gray-600 text-sm my-2;
}

.markdown > h5 {
  margin-top: 10px;
}
.markdown > p {
  margin-bottom: 5px;
}
.markdown > hr {
  margin-top: 20px;
}

div.markdown > ul >  li > strong  {
  @apply text-base text-gray-900  font-medium;
}
div.markdown > ul >  li > em  {
  @apply text-sm text-gray-900  font-light;
}

/* override styles when printing */
@media print {

  body {
    margin: 0;
    color: #000;

    color: red;
  }

}